In [160]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import datetime 
import re, os
from pathlib import Path 
import glob

In [161]:
data_path = Path.cwd() / "data"
tsv_files = []

for file in glob.glob("{}/*.tsv".format(data_path.as_posix())):
    _dg = pd.read_csv(file,sep='\t')
    tsv_files.append(_dg)

merged_octo30 = pd.concat(tsv_files)

In [162]:
df = merged_octo30.drop(['SourceId', 'TargetId'], axis = 1)

In [163]:
df = df [ df['count']>6]

In [164]:
da = df.groupby(['pairs', 'Source', 'Target', 'SourceFreq', 'TargetFreq', 'freqsum']).sum()
dc = pd.DataFrame (da).reset_index()
dc

,pairs,Source,Target,SourceFreq,TargetFreq,freqsum,count,Identity
0,"('aaa', 'devs')",aaa,devs,3.77,2.88,6.65,9,/Users/emilyzou/dooby/data/79VwfZTSRGc.json
1,"('aaa', 'engine')",aaa,engine,3.77,4.84,8.61,11,/Users/emilyzou/dooby/data/79VwfZTSRGc.json
2,"('aaa', 'game')",aaa,game,3.77,5.72,9.49,20,/Users/emilyzou/dooby/data/79VwfZTSRGc.json
3,"('aaa', 'indie')",aaa,indie,3.77,4.00,7.77,7,/Users/emilyzou/dooby/data/79VwfZTSRGc.json
4,"('aaa', 'made')",aaa,made,3.77,5.92,9.69,7,/Users/emilyzou/dooby/data/79VwfZTSRGc.json
...,...,...,...,...,...,...,...,...
332235,"('zero', 'way')",zero,way,4.63,6.01,10.64,9,/Users/emilyzou/dooby/data/2zmuENdIjeE.json
332236,"('zero', 'well')",zero,well,4.63,6.03,10.66,7,/Users/emilyzou/dooby/data/2zmuENdIjeE.json
332237,"('zoo', 'tier')",zoo,tier,4.14,4.16,8.30,14,/Users/emilyzou/dooby/data/2zmuENdIjeE.json
332238,"('zoomed', 'graph')",zoomed,graph,2.85,4.05,6.90,17,/Users/emilyzou/dooby/data/5_V-K1qpRfA.json
332239,"('zootedseazon', 'trans')",zootedseazon,trans,0.00,4.41,4.41,8,/Users/emilyzou/dooby/data/2zmuENdIjeE.json

In [165]:
opps = dict(df['pairs'].value_counts())
def oppen (tuple):
    return opps[tuple]

In [166]:
dc = pd.DataFrame (da).reset_index()

In [167]:
dc['Identities'] = dc['pairs'].apply(oppen)

In [168]:
dc

,pairs,Source,Target,SourceFreq,TargetFreq,freqsum,count,Identity,Identities
0,"('aaa', 'devs')",aaa,devs,3.77,2.88,6.65,9,/Users/emilyzou/dooby/data/79VwfZTSRGc.json,1
1,"('aaa', 'engine')",aaa,engine,3.77,4.84,8.61,11,/Users/emilyzou/dooby/data/79VwfZTSRGc.json,1
2,"('aaa', 'game')",aaa,game,3.77,5.72,9.49,20,/Users/emilyzou/dooby/data/79VwfZTSRGc.json,1
3,"('aaa', 'indie')",aaa,indie,3.77,4.00,7.77,7,/Users/emilyzou/dooby/data/79VwfZTSRGc.json,1
4,"('aaa', 'made')",aaa,made,3.77,5.92,9.69,7,/Users/emilyzou/dooby/data/79VwfZTSRGc.json,1
...,...,...,...,...,...,...,...,...,...
332235,"('zero', 'way')",zero,way,4.63,6.01,10.64,9,/Users/emilyzou/dooby/data/2zmuENdIjeE.json,1
332236,"('zero', 'well')",zero,well,4.63,6.03,10.66,7,/Users/emilyzou/dooby/data/2zmuENdIjeE.json,1
332237,"('zoo', 'tier')",zoo,tier,4.14,4.16,8.30,14,/Users/emilyzou/dooby/data/2zmuENdIjeE.json,1
332238,"('zoomed', 'graph')",zoomed,graph,2.85,4.05,6.90,17,/Users/emilyzou/dooby/data/5_V-K1qpRfA.json,1
332239,"('zootedseazon', 'trans')",zootedseazon,trans,0.00,4.41,4.41,8,/Users/emilyzou/dooby/data/2zmuENdIjeE.json,1

In [169]:
dac = list(zip(df['Source'], df['count'].apply(str)))

In [170]:
import collections
c = collections.defaultdict(list)
for a,b in dac: 
    c[a].extend(b)

list2 = list(c.items())

In [171]:
def silly (tuple):
    result = [int(i) for i in tuple[1]]
    return tuple[0], sum(result)

list3= [silly(m) for m in list2]

In [172]:
dot = pd.DataFrame(list3, columns = ['term', 'count'] )
dot

           term  count
0        police    389
1        showed    413
2          good  11667
3           day   3680
4          hope   3152
...         ...    ...
6470    notices      7
6471  penalties      1
6472        ccp     28
6473     basics      8
6474   traction     16

[6475 rows x 2 columns]

In [173]:
def getter (n):
    return round(n/ dot['count'].max(), 2)

In [174]:
dot ['zipf'] = dot['count'].apply(getter)

In [175]:
dot

           term  count  zipf
0        police    389  0.02
1        showed    413  0.02
2          good  11667  0.59
3           day   3680  0.19
4          hope   3152  0.16
...         ...    ...   ...
6470    notices      7  0.00
6471  penalties      1  0.00
6472        ccp     28  0.00
6473     basics      8  0.00
6474   traction     16  0.00

[6475 rows x 3 columns]

In [176]:
zcount = dict(zip(dot['term'], dot['count']))
zfreq = dict (zip(dot['term'], dot['zipf']))

In [177]:
def counter (source):
    return zcount[source]

def freqqer (source):
    return zfreq [source]

In [178]:
dc ['SourceZfreq'] = dc['Source'].apply(freqqer)
dc ['TargetZfreq'] = dc['Target'].apply(freqqer)
dc ['SourceZCount'] = dc['Source'].apply(counter)
dc ['TargetZCount'] = dc['Target'].apply(counter)

In [179]:
dc

,pairs,Source,Target,SourceFreq,TargetFreq,freqsum,count,Identity,Identities,SourceZfreq,TargetZfreq,SourceZCount,TargetZCount
0,"('aaa', 'devs')",aaa,devs,3.77,2.88,6.65,9,/Users/emilyzou/dooby/data/79VwfZTSRGc.json,1,0.0,0.12,64,2291
1,"('aaa', 'engine')",aaa,engine,3.77,4.84,8.61,11,/Users/emilyzou/dooby/data/79VwfZTSRGc.json,1,0.0,0.13,64,2565
2,"('aaa', 'game')",aaa,game,3.77,5.72,9.49,20,/Users/emilyzou/dooby/data/79VwfZTSRGc.json,1,0.0,0.30,64,6002
3,"('aaa', 'indie')",aaa,indie,3.77,4.00,7.77,7,/Users/emilyzou/dooby/data/79VwfZTSRGc.json,1,0.0,0.06,64,1186
4,"('aaa', 'made')",aaa,made,3.77,5.92,9.69,7,/Users/emilyzou/dooby/data/79VwfZTSRGc.json,1,0.0,0.47,64,9223
...,...,...,...,...,...,...,...,...,...,...,...,...,...
332235,"('zero', 'way')",zero,way,4.63,6.01,10.64,9,/Users/emilyzou/dooby/data/2zmuENdIjeE.json,1,0.0,0.79,83,15621
332236,"('zero', 'well')",zero,well,4.63,6.03,10.66,7,/Users/emilyzou/dooby/data/2zmuENdIjeE.json,1,0.0,0.45,83,8843
332237,"('zoo', 'tier')",zoo,tier,4.14,4.16,8.30,14,/Users/emilyzou/dooby/data/2zmuENdIjeE.json,1,0.0,0.01,5,241
332238,"('zoomed', 'graph')",zoomed,graph,2.85,4.05,6.90,17,/Users/emilyzou/dooby/data/5_V-K1qpRfA.json,1,0.0,0.02,8,310
332239,"('zootedseazon', 'trans')",zootedseazon,trans,0.00,4.41,4.41,8,/Users/emilyzou/dooby/data/2zmuENdIjeE.json,1,0.0,0.96,8,18954

In [180]:
dc.to_csv('nothingsnew.csv')